<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home avaliador</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>
</head>

<body>
    <div class="col-12">
        <a class="btn btn-primary" th:href="@{/}" role="button">home</a>
    </div>
    <div class="container">

        <form th:action="@{./salvar}" th:object="${revisao}" method="POST">
            <div class="form-group">
                <label>Descrição: <input type="text" class="form-control" th:field="*{descricao}" /></label>
            </div>
            <div class="form-group">
                <label>Nota: <input type="number" class="form-control" th:field="*{nota}" /></label>
            </div>
            <div class="row">
                <div class="col-4 card">
                    <label> Lista de trabalhos</label>
                    <div class="row card-body">
                        <div class="col-12" th:each="listaTrabalho, listaTrabalhoindex: ${listaTrabalho}"
                            th:object=${Trabalho}>
                            <input class="form-check-input" type="radio"
                                th:attr="checked=${listaTrabalhoindex.index == 0 ? true :false}"
                                th:value="${listaTrabalho.id}" name="reftrabalho">
                            <label class="form-check-label" for="defaultCheck1" th:text="${listaTrabalho.titulo}">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-4 card">
                    <label> Lista de Avaliador</label>
                    <div class="row card-body">
                        <div class="col-12" th:each="listaAvaliador, listaAvaliadorindex: ${listaAvaliador}"
                            th:object=${Avaliador}>
                            <input class="form-check-input" type="radio" th:value="${listaAvaliador.id}"
                                th:attr="checked=${listaAvaliadorindex.index == 0 ? true :false} " name="refavaliador">
                            <label class="form-check-label" for="defaultCheck1" th:text="${listaAvaliador.nome}">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-4 card">
                    <label>Status</label>
                    <div class="row card-body">
                        <div class="form-check col-12">
                            <input class="form-check-input" type="radio" th:value="0" th:field="*{status}" checked>
                            <label class="form-check-label" for="defaultCheck1">a fazer</label>
                        </div>
                        <div class="form-check col-12">
                            <input class="form-check-input" type="radio" th:value="1" th:field="*{status}">
                            <label class="form-check-label" for="defaultCheck1">avaliado</label>
                        </div>
                        <div class="form-check col-12">
                            <input class="form-check-input" type="radio" th:value="2" th:field="*{status}">
                            <label class="form-check-label" for="defaultCheck1">impedido</label>
                        </div>
                        <div class="form-check col-12">
                            <input class="form-check-input" type="radio" th:value="3" th:field="*{status}">
                            <label class="form-check-label" for="defaultCheck1">validado</label>
                        </div>
                        <div class="form-check col-12">
                            <input class="form-check-input" type="radio" th:value="4" th:field="*{status}">
                            <label class="form-check-label" for="defaultCheck1">invalidado</label>
                        </div>
                    </div>
                </div>
            </div>
            <input type="submit" class="btn btn-primary" />
            <input type="reset" class="btn btn-outline-primary" />
        </form>

    </div>
</body>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

</html>